@import url("https://fonts.cdnfonts.com/css/futura-pt");

:root {
  --selection-color: #ab303d;
  --bg-gray: #f6f6f6;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Futura PT", sans-serif;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #a0a0a0;
}

body::-webkit-scrollbar-thumb:hover {
  background: #808080;
}

.selection-color {
  color: var(--selection-color);
}

.current-section {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--bg-gray);
}

.header {
  display: flex;
  padding: 0 24px 0 24px;
  width: calc(100vw - 48px);
  height: 80px;
  box-shadow: rgba(51, 51, 52, 0.559) 0px 2px 6px;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 5;
  background-color: #fff;
}

.sections-wrapper {
  background-color: var(--bg-gray);
}

.vector {
  position: absolute;
  object-fit: contain;
}

.vector-1 {
  width: 320px;
  left: 0;
  top: -15%;
  transform: rotate(10deg);
}

.vector-2 {
  width: 300px;
  right: -1%;
  top: -32%;
  transform: rotate(-130deg);
}

.vector-3 {
  width: 120px;
  right: -1%;
  top: -36%;
  transform: rotateY(3.142rad) rotateZ(-30deg);
}

.vector-4 {
  width: 80px;
  left: -24px;
  bottom: 0;
  transform: rotate(-5deg);
}

.vector-5 {
  width: 80px;
  right: -42px;
  bottom: 15%;
  transform: rotate(20deg);
}

.vector-6 {
  width: 80px;
  left: -42px;
  bottom: -20px;
  transform: rotate(-5deg) rotateY(3.142rad);
}

.vector-7 {
  width: 80px;
  right: -12px;
  bottom: -20px;
  transform: rotate(5deg) rotateY(3.142rad);
}

.vector-8 {
  width: 80px;
  right: -12px;
  bottom: -12px;
  transform: rotate(-10deg) rotateY(3.142rad);
}

.vector-9 {
  width: 80px;
  left: -42px;
  bottom: 24px;
  transform: rotate(-5deg);
}

.mobile-vectors {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: absolute;
  top: 0;
}

.mobile-vectors .vector-1 {
  width: 80px;
}

.mobile-vectors .vector-2 {
  width: 80px;
  transform: rotate(-100deg);
}

/* media for vector */
@media only screen and (max-width: 1280px) {
  .vector-1 {
    width: 200px;
    top: -8%;
  }

  .vector-2 {
    width: 200px;
    top: -20%;
  }

  .vector-4 {
    left: 0;
  }

  .vector-5 {
    width: 70px;
    right: 8px;
    bottom: 8%;
  }

  .vector-6 {
    width: 70px;
    left: 0;
  }

  .vector-7,
  .vector-8 {
    width: 70px;
    right: 32px;
  }

  .vector-9 {
    left: 12px;
  }
}

@media only screen and (max-width: 992px) {
  .vector-1 {
    width: 150px;
    top: -6%;
  }

  .vector-2 {
    width: 150px;
    top: -18%;
  }
}

@media only screen and (max-width: 767px) {
  .mobile-vectors {
    display: flex;
  }

  .vector-1 {
    width: 120px;
    top: -3%;
    transform: rotate(0);
  }

  .vector-2 {
    width: 120px;
    top: -1%;
    transform: rotate(160deg);
  }

  .vector-6,
  .vector-9 {
    top: 0;
    transform: rotate(180deg);
    opacity: 0.5;
  }

  .vector-7,
  .vector-8 {
    top: 0;
    transform: rotate(320deg);
    opacity: 0.5;
  }
}

@media only screen and (max-width: 480px) {
  .vector-1 {
    width: 80px;
    top: -2%;
  }

  .vector-2 {
    width: 80px;
    top: -2%;
  }

  .vector-6,
  .vector-7,
  .vector-8,
  .vector-9 {
    width: 50px;
  }

  .mobile-vectors .vector-1,
  .mobile-vectors .vector-2 {
    width: 45px;
  }
}

.sections {
  display: flex;
  gap: 32px;
  list-style-type: none;
}

.title {
  position: absolute;
  left: 12%;
  font-size: 28px;
  letter-spacing: 1.1px;
  font-weight: 450;
}

.header .section-btn {
  cursor: pointer;
}

.header .section-btn a {
  color: inherit;
  text-decoration: inherit;
}

.header .section-btn:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.start-section {
  display: flex;
  min-height: 100vh;
  margin-top: 80px; /* 80px = header height */
  justify-content: flex-start;
  padding-left: 8%;
  gap: 3%;
}

.start-section-title {
  font-size: 120px;
  letter-spacing: 1.25px;
  line-height: 153.84px;
  font-weight: 450;
  margin-bottom: 32px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  border-right: 4px solid var(--selection-color);
  width: fit-content;
  animation: typing 4s steps(44, end) forwards,
    blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
    opacity: 0;
  }

  to {
    width: 14ch;
    opacity: 1;
  }

  0% {
    border-right: 4px solid var(--selection-color);
  }

  80% {
    border-right: 4px solid var(--selection-color);
  }

  100% {
    border-right: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: var(--selection-color);
  }
}

.start-section-images {
  position: relative;
  width: 35%;
  height: 550px;
}

.start-section-icon {
  width: 450px;
  height: 550px;
  object-fit: contain;
  z-index: 2;
  position: absolute;
}

.start-section-icon {
  animation: showFromLeftSide 3.5s forwards;
}

.start-section-images,
.start-section-info {
  margin-top: 48px;
}

.start-section-info {
  width: 40%;
  font-weight: 450;
}

.start-section-description {
  display: inline-block;
  font-weight: bold;
  background: linear-gradient(90.01deg, #111111 -8.85%, #b1b1b1 116.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  margin-top: 4px;
  animation: showFromRightSide 3.5s forwards;
}

.start-section-btn {
  width: 160px;
  height: 40px;
  border-radius: 2px;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  background-color: #30ab4b;
  border: none;
  margin-top: 4px;
  cursor: pointer;
}

.btn-wrapper {
  width: 100%;
  animation: showFromRightSide 3.5s forwards;
}

.start-section-btn:hover {
  transform: scale(1.05);
  transition: 0.33s;
}

.sub-description {
  font-size: 18px;
  margin-top: 0;
  animation: showFromRightSide 3.5s forwards;
  font-weight: 400;
}

.sub-start-section {
  min-height: 100vh;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 8%;
  position: relative;
  z-index: 4;
}

.sub-start-section-title {
  background: linear-gradient(
    90.01deg,
    #111111 32%,
    #b1b1b1 58.84%,
    #1a1a1a 70.39%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 42px;
  margin-bottom: 12px;
}

.card-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 8%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 550px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img {
  width: 320px;
  height: 260px;
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  object-fit: cover;
}

.half-card-img {
  width: 150px;
  height: 260px;
  border-radius: 8px;
  object-fit: cover;
}

.images-container {
  display: flex;
  height: 260px;
  gap: 20px;
  position: absolute;
  bottom: 0;
}

.card-list {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 16px;
}

.card-list-el {
  display: flex;
  align-items: center;
}

.card-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  width: 46px;
  height: 46px;
  box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.25);
  border-radius: 42px;
  margin-right: 20px;
}

.card-title {
  font-size: 28px;
  font-weight: normal;
}

.text-hr {
  width: 200px;
  min-height: 2px;
  background-color: #111111;
  margin-bottom: 6%;
  border: none;
}

.card-description {
  margin-top: 0;
  margin-bottom: 16px;
}

.el-hr {
  width: 320px;
  height: 2px;
  background-color: #111111;
  border: none;
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.card .el-hr {
  position: absolute;
  bottom: -32px;
}

.card:hover .el-hr {
  opacity: 1;
  visibility: visible;
}

.composition {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  padding-top: 80px; /* header height */
  background-color: white;
  background-image: url("images/dog.png");
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 45% auto;
  position: relative;
}

.composition-content {
  display: flex;
  margin-top: 32px;
}

.composition-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
}

.buy-btn {
  background-color: var(--selection-color);
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 35px;
  z-index: 2;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  justify-self: center;
  position: absolute;
  top: 60%;
}

.buy-btn:hover {
  transform: scale(1.05);
  transition: 0.33s;
}

.bold {
  font-weight: bolder;
}

.composition-title {
  background: linear-gradient(
    90.01deg,
    #111111 2%,
    #b1b1b1 58.84%,
    #1a1a1a 90.39%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 42px;
  margin-bottom: 12px;
  font-weight: normal;
}

.composition .sub-text {
  font-size: 28px;
}

.component {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 330px;
  align-items: center;
  text-align: center;
  position: relative;
}

.component-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.component-title {
  font-size: 28px;
  margin-bottom: 4px;
  font-weight: 450;
}

.count {
  margin-top: 4px;
}

.component:hover .el-hr {
  visibility: visible;
  opacity: 1;
}

.composition-icon {
  margin-left: 42px;
}

.composition-icon,
.dog-icon {
  width: 540px;
}

.dog-icon {
  position: absolute;
  bottom: 0;
}

.products-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-gray);
  min-height: 100vh;
  width: 100vw;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline: 140px;
  gap: 50px;
  position: relative;
  padding-bottom: 32px;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bebebe;
  width: 350px;
  height: 350px;
  font-size: 24px;
  cursor: pointer;
}

.product:hover {
  transform: scale(1.05);
  transition: 0.33s;
}

.products-select-description {
  display: flex;
  align-items: center;
  height: 30px;
  border: 2px solid var(--selection-color);
  padding: 6px;
}

.products-select-wrapper {
  display: flex;
  align-items: center;
  padding-block: 6%;
}

.count-products-select {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  width: 130px;
  background-color: var(--selection-color);
  border: none;
  color: white;
  text-align: center;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.count-products-select option {
  width: 100%;
  background-color: var(--selection-color);
  cursor: pointer;
}

.select-wrapper {
  position: relative;
}

.select-arrow {
  position: absolute;
  left: calc(50% + 20px);
  top: 50%;
  width: 12px;
  height: 12px;
  transform: translate(-50%, -50%);
  object-fit: contain;
  pointer-events: none;
}

.intersection-element {
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
}

.loader {
  display: none;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation: loader 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
  position: fixed;
  right: 8px;
  bottom: 8px;
}

@keyframes loader {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}

@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }

  49.99% {
    transform: scaleY(1) rotate(135deg);
  }

  50% {
    transform: scaleY(-1) rotate(0deg);
  }

  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(48, 48, 48, 0.529);
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  cursor: pointer;
}

.modal {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 400px;
  border-radius: 8px;
  background-color: #fff;
  padding: 12px;
  font-size: 20px;
  cursor: default;
}

.modal .close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modal .modal-label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 6px;
  top: 6px;
  margin: 0;
  font-size: 24px;
  width: 30px;
  height: 30px;
}

@keyframes showFromLeftSide {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes showFromRightSide {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hidden {
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

.show {
  opacity: 1;
}

@media only screen and (max-width: 1280px) {
  .start-section-title {
    font-size: 64px;
    margin-bottom: 12px;
  }

  .start-section {
    margin-top: 60px;
    padding-left: 4%;
  }

  .header {
    height: 60px;
  }

  .title {
    left: 6%;
    font-size: 24px;
  }

  .card-img {
    width: 200px;
    height: 210px;
  }

  .card {
    width: 320px;
    height: 460px;
  }

  .card-title {
    font-size: 18px;
  }

  .card-description {
    font-size: 12px;
    width: 85%;
    text-align: center;
  }

  .images-container {
    height: 210px;
  }

  .half-card-img {
    width: 100px;
    height: 210px;
  }

  .dog-icon {
    width: 300px;
  }

  .composition-icon {
    width: 270px;
    margin-left: 32px;
  }

  .component,
  .el-hr {
    width: 230px;
  }

  .component-description {
    font-size: 12px;
  }

  .composition {
    padding-inline: 16px;
  }

  .buy-btn {
    top: 40%;
    width: 120px;
    margin-left: 20px;
  }

  .card-container {
    gap: 2%;
  }

  .component-title {
    margin-top: 8px;
    font-size: 18px;
  }

  .component-icon {
    height: 30px;
    width: 30px;
  }

  .composition {
    padding-top: 60px;
  }

  .sub-text {
    margin: 0;
  }

  .text-hr {
    margin-bottom: 4%;
  }

  .start-section {
    gap: 6%;
  }

  .start-section-info {
    width: 50%;
  }

  .start-section-description {
    font-size: 24px;
  }

  .start-section-icon {
    width: 400px;
  }

  .product {
    width: 290px;
    height: 290px;
  }

  .products-list {
    padding-inline: 80px;
  }

  .card-list-icon {
    width: 32px;
    height: 32px;
    margin-right: 12px;
  }

  .card-list {
    margin-left: 8px;
  }

  .card-title {
    margin-bottom: 8px;
  }

  .card-list-el {
    font-size: 12px;
  }
}

.mobile-menu {
  display: none;
  z-index: 30;
  position: fixed;
  top: 30px;
  right: 16px;
  transform: translate(0, -50%);
}

.mobile-menu-icon {
  width: 18px;
  height: 12px;
  z-index: 31;
  position: relative;
}

.actions {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  padding-bottom: 20px;
  position: relative;
}

.actions .card-list {
  margin-top: 20%;
}

.actions-title {
  font-size: 28px;
  background: linear-gradient(
    90.01deg,
    #111111 2%,
    #b1b1b1 58.84%,
    #1a1a1a 90.39%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: normal;
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}

.menu-sections-wrapper {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #edededb1;
  z-index: 10;
}

.menu-sections-wrapper.hide {
  display: none;
}

.menu-sections {
  background: rgba(173, 72, 68, 1);
  width: 80%;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  position: absolute;
  list-style-type: none;
  left: 50%;
  top: 60px;
  transform: translate(-50%);
  padding: 20px;
  padding-bottom: 32px;
  opacity: 0;
  animation: showMenu 1s forwards;
}

@keyframes showMenu {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.menu-sections a {
  color: inherit;
  text-decoration: inherit;
}

@media only screen and (max-width: 1024px) {
  .start-section {
    justify-content: space-between;
    padding-left: 0;
    padding-inline: 2%;
  }

  .start-section-title {
    font-size: 48px;
  }

  .start-section-icon {
    width: 320px;
  }
}

@media only screen and (max-width: 767px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .actions {
    display: flex;
  }

  .actions .card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: center;
    gap: 20px;
    margin-top: 12px;
  }

  .actions .card-list-el {
    width: 100%;
    margin: 0 auto;
  }

  .actions .card-list-icon {
    margin-right: 24px;
    margin-left: 30px;
    min-width: 60px;
    height: 60px;
    font-size: 24px;
  }

  .header {
    justify-content: space-between;
    box-shadow: none;
  }

  .sections {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .title {
    position: relative;
    left: 0;
    font-size: 18px;
  }

  .start-section-title {
    display: none;
  }

  .start-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .start-section-images {
    margin-top: 0;
  }

  .start-section-icon {
    width: 310px;
    height: auto;
  }

  .start-section-info {
    width: 75%;
    text-align: center;
  }

  .start-section-btn {
    display: none;
  }

  .sub-start-section {
    padding-top: 25%;
  }

  .sub-start-section-title {
    font-size: 20px;
  }

  .start-section-images {
    display: flex;
    justify-content: center;
    height: 400px;
  }

  .card-container {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    padding-bottom: 20px;
    align-items: center;
  }

  .card {
    width: 100%;
  }

  .card-img,
  .card-info {
    width: 80%;
    max-width: 380px;
    height: auto;
    max-height: 350px;
    border-radius: 0;
    padding-inline: 6%;
    margin-top: 24px;
  }

  .images-container {
    width: 100%;
    justify-content: center;
  }

  .half-card-img {
    width: 25%;
    border-radius: 0;
  }

  .products-list {
    padding-inline: 12px;
  }

  .products-select-wrapper {
    width: calc(100% - 54px);
    flex-direction: column;
    margin-top: 48px;
    padding-block: 10%;
  }

  .select-wrapper,
  .count-products-select {
    width: 100%;
  }

  .products-select-description {
    margin: 0;
    width: calc(100% - 16px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .component {
    width: 60%;
  }

  .component-icon {
    height: 50px;
    width: 50px;
  }

  .product {
    width: 105px;
    height: 105px;
  }

  .composition {
    margin-top: 24px;
  }

  .composition-col.mobile {
    display: flex;
    justify-content: center;
  }

  .composition-title {
    font-size: 24px;
  }

  .composition .sub-text {
    font-size: 16px;
    margin-top: 48px;
    margin-bottom: 24px;
  }

  .composition-content {
    flex-direction: column;
  }

  .composition-col.mobile .dog-icon {
    position: absolute;
    bottom: 0;
  }

  .composition-icon {
    margin-left: 16px;
  }

  .dog-icon,
  .composition-icon {
    width: 70%;
  }
}
